.back {
    display: flex;
    align-content:flex-end;
    font-weight: 400;
    color:var(--pink);
    margin: 3rem 0 0 3rem;
    line-height: 1.5;

    &__img {
        width: 2.4rem;
        height: 2.4rem;
    }
}


.form__container {
    margin: 3rem;
}

.form__question {
    margin-bottom: 3rem;

    &--2 {
        &__slider {
            width: 100%;
        }

        &__faces{
            display: grid;
            grid-template-columns: repeat(5, min-content);
            justify-content: space-between;
            justify-items: center;
        }
    }


}
