.back {
    display: flex;
    align-content:flex-end;
    font-weight: 400;
    color:var(--pink);
    margin: 3rem 0 0 3rem;
    line-height: 1.5;

    &__img {
        width: 2.4rem;
        height: 2.4rem;
    }
}


.form__container {
    margin: 3rem;
}

.form__question {
    margin-bottom: 3rem;

    &--2 {
        &__slider {
            width: 100%;
        }

        &__faces{
            display: grid;
            grid-template-columns: repeat(5, min-content);
            justify-content: space-between;
            justify-items: center;
        }
    }
}

.buttons {
    display: flex;
    justify-content: space-between;
}

.button {
    &--reset,
    &--submit {
        border: none;
        padding: 1rem 3rem;
        font-family:var(--font-headers);
        font-size: 2.4rem;
        font-size: 2.4rem;
    }

    &--reset {
        color: var(--teal-dark);
        border: solid 0.2rem var(--teal-light);

        font-weight: 400;
        text-transform: capitalize;

    }

    &--submit {
        background-color: var(--pink);
        color: var(--off-white);
        font-weight: 900;
    }
}
