.form__radio,
.form__checkbox {

    display: inline-flex;
    margin-bottom: 1rem;
    align-items: center;

    &--input {
        display: none;
    }

    &--radio,
    &--checkbox {
        content: "";
        width: 1.6rem;
        height: 1rem;
        border: solid 2px var(--yellow);
        margin-right: 1rem;
        padding: 1rem;
    }
}
