.form__radio,
.form__checkbox {

    display: inline-flex;
    margin-bottom: 1rem;
    align-items: center;

    position: relative;

    &--input {
        display: none;
    }

    &--radio,
    &--checkbox {
        width: 1rem;
        height: 1rem;
        border: solid 2px var(--yellow);
        margin-right: 1rem;
        padding: 1rem;

    }
}

.form__check--symbol {
    position: absolute;
    top: -0.5rem;
    left: -0.5rem;
    opacity: 0;
}

.form__radio--input:checked + .form__radio--radio > .form__check--symbol,
.form__checkbox--input:checked + .form__checkbox--checkbox > .form__check--symbol {
    opacity: 1;
}
